#layout {

}
#layout2 {

}
#cars{
    border-style: solid;
    margin: 5px;
    padding: 5px;
    width: 290px;
}
#clothes{
    border-style: solid;
    margin: 5px;
    padding: 5px;
    width: 240px;
}
#hightech{
    border-style: solid;
    margin: 5px;
    padding: 5px;
    width: 275px;
}