#search{
    background-color: #3c3c3c;
    display: grid;
    padding: 5px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: minmax(50px, auto);
}
#search-hightech{
    background-color: #3c3c3c;
    display: grid;
    padding: 5px;
    grid-template-columns: 25% 25% 25% 25%;
}
#log{
    color: white;
}
#motcle {
    color: blueviolet;
}
#btfind {
    background-color: blueviolet;
    color: white;
}
#motcle1 {
    color: blueviolet;
}
#btfind1 {
    background-color: blueviolet;
    color: white;
}
#motcle2 {
    color: blueviolet;
}
#btfind2 {
    background-color: blueviolet;
    color: white;
}
#motcle3 {
    color: blueviolet;
}
#btfind3 {
    background-color: blueviolet;
    color: white;
}
#motcle4 {
    color: blueviolet;
}
#btfind4 {
    background-color: blueviolet;
    color: white;
}
#motcle5 {
    color: blueviolet;
}
#btfind5 {
    background-color: blueviolet;
    color: white;
}
#motcle6 {
    color: dimgrey;

}
#btfind6 {
    background-color: blueviolet;
    color: white;
}
#cars{
    border-style: solid;
    padding: 5px;
    width: 275px;
    margin: 5px 7px 10px;
}
#hightech img{
    width: 100%;
}
#cars img{
    width: 100%;
}
.show-product{
    margin: 50px 25px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    padding: 0 5%;
}
#layout {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
 }
#hightech{
    border-style: solid;
    padding: 5px;
    width: 275px;
    margin: 5px 7px 10px;
}
.result-found{
    margin-left: 25px;
}

#insert{
    margin-left: 15%;
    padding: 3%;
    border-style: solid;
    border-color: #3c3c3c;
    color: #3c3c3c;
    width: 270px;
}
#btn_ins{
    color: #ffffff;
    background-color: blueviolet;
    border-radius: 25px;
    text-align: center;
}
.delProduct{
    float: right;
    color: #ffffff;
    background-color: red;
    border-radius: 25px;
    width: 30%;
    height: 9%;
    text-align: center;
}
.editProduct{
    float: right;
    color: #ffffff;
    background-color: blue;
    border-radius: 25px;
    width: 30%;
    height: 9%;
    text-align: center;
}